/.gradle/*
/build/*
/.idea/*

/src/2024/day_15/notes.txt
/python/toader/*.xlsx
/python/toader/export_2.xlsx
/python/toader/Scandura (S20x4m)-istoric-stoc-2026-03-14_14-17-49.xlsx
/python/toader/Scandura (S20x4m)-istoric-stoc-2026-03-14_14-21-39.xlsx
/python/toader/Scandura (S20x4m)-istoric-stoc-2026-03-14_14-23-34.xlsx
/python/toader/~$Scandura (S20x4m)-istoric-stoc-2026-03-14_14-23-34.xlsx
